{:paths ["src" "java" "target/classes"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}

 ;; Requires `clj -X:deps prep`  when downloaded as a git checkout (if via Maven repo, the class will
 ;; already be compiled into the artifact).
 :deps/prep-lib
 {:ensure "target/classes"
  :alias :build
  :fn compile-java}

 :aliases
 {  :build {:deps {io.github.hlship/build-tools
                   {:git/tag "v0.5" :git/sha "ca4876"}}
            :ns-default build}}

 }
